In [1]:
import pandas as pd

In [2]:
car_data = pd.read_csv('cars data.csv')

In [3]:
car_data

,Unnamed: 0,Model Name,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Rear Brake,Drive,Turning Radius,Fuel Tank Capacity,Boot Space,Fuel Efficiency,Emission Type,Tyre Size,Variants,NCAP Rating
0,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,Drum,2WD,4.90,37.0,260.0,21.0,BS VI,175/60 R15,3,2
1,45,Scorpio-N,Mahindra,SUV,6,2000,4662,1917,1857,2750,...,Disc,2WD,4.80,57.0,460.0,NaN,BS VI,255/16 R18,1,Not Rated
2,47,Scorpio-N,Mahindra,SUV,7,2000,4662,1917,1857,2750,...,Disc,2WD,4.10,57.0,460.0,NaN,BS VI,255/16 R18,4,Not Rated
3,22,Kicks,Nissan,SUV,5,1330,4384,1813,1669,2673,...,Drum,2 WD,5.20,50.0,400.0,16.0,BS VI,215/65 R16,2,5
4,101,Aura,Hyundai,Compact Sedan,5,1197,3995,1680,1520,2450,...,Drum,2WD,4.70,37.0,402.0,20.0,BS VI,175/60 R15,2,Not Rated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,23,Kicks,Nissan,SUV,5,1498,4384,1813,1669,2673,...,Drum,2 WD,5.20,50.0,400.0,13.9,BS VI,215/65 R16,2,5
94,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,Disc,2 WD,5.35,52.5,580.0,18.6,BS VI,235/55 R18,2,4
95,41,Scorpio-N,Mahindra,SUV,6,2000,4662,1917,1857,2750,...,Disc,2WD,4.00,57.0,460.0,NaN,BS VI,255/16 R18,1,Not Rated
96,12,City 5th Gen,Honda,Sedan,5,1498,4549,1748,1489,2600,...,Drum,2WD,5.30,40.0,506.0,17.8,BS VI,185/55 R16,3,5
97,42,Scorpio-N,Mahindra,SUV,7,2000,4662,1917,1857,2750,...,Disc,2WD,5.20,57.0,460.0,NaN,BS VI,255/16 R18,4,Not Rated

In [21]:
car_data.shape

(98, 25)

In [4]:
car_data.columns

Index(['Unnamed: 0', 'Model Name', 'Maker', 'Type', 'Seats', 'Displacement',
       'Length', 'Width', 'Height', 'Wheelbase', 'No_of_Cylinders', 'Fuel',
       'Engine Type', 'Transmission', 'Front Brake', 'Rear Brake', 'Drive',
       'Turning Radius', 'Fuel Tank Capacity', 'Boot Space', 'Fuel Efficiency',
       'Emission Type', 'Tyre Size', 'Variants', 'NCAP Rating'],
      dtype='object')

In [27]:
car_data.isnull()

,Unnamed: 0,Model Name,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Rear Brake,Drive,Turning Radius,Fuel Tank Capacity,Boot Space,Fuel Efficiency,Emission Type,Tyre Size,Variants,NCAP Rating
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
96,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False

In [ ]:
car_loan_data = pd.read_csv('Car_L.csv')

In [6]:
car_loan_data

,Company Name,Model Name,On road pricing,Loan amount,Monthly EMI,Interest Rate,Monthly Principal,Monthly Interest
0,Hyundai,City 4th Gen,859738,577979,10719,9.148477,5940,2057
1,Nissan,Glanza,882545,1190982,32260,8.171906,2291,4829
2,Honda,XUV 300,1324440,1244455,34081,8.464393,18767,1435
3,Honda,City e-HEV,1165460,521779,32822,8.425718,5845,4958
4,Kia,Seltos,822487,761056,15738,9.265952,18040,2435
...,...,...,...,...,...,...,...,...
93,Nissan,Kwid,1942643,695973,33030,8.158602,14992,4867
94,Hyundai,Harrier,1279640,705336,23802,9.934826,17627,2668
95,Nissan,City e-HEV,505028,323842,28218,9.833036,3581,2459
96,Mahindra,Amaze,1961969,1290885,37563,8.941051,15234,3454
97,Volkswagen,C3,1588496,561291,32906,8.235481,4215,3725

In [20]:
car_loan_data.columns

Index(['Company Name', 'Model Name', 'On road pricing', 'Loan amount',
       'Monthly EMI', 'Interest Rate', 'Monthly Principal',
       'Monthly Interest'],
      dtype='object')

In [22]:
car_loan_data.shape

(98, 8)

In [29]:
car_loan_data.isnull()

,Company Name,Model Name,On road pricing,Loan amount,Monthly EMI,Interest Rate,Monthly Principal,Monthly Interest
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
93,False,False,False,False,False,False,False,False
94,False,False,False,False,False,False,False,False
95,False,False,False,False,False,False,False,False
96,False,False,False,False,False,False,False,False
97,False,False,False,False,False,False,False,False

In [7]:
data_merged = pd.merge(car_data, car_loan_data, on=['Model Name'])

In [8]:
data_merged

,Unnamed: 0,Model Name,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Tyre Size,Variants,NCAP Rating,Company Name,On road pricing,Loan amount,Monthly EMI,Interest Rate,Monthly Principal,Monthly Interest
0,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,539335,568129,48569,8.737450,6130,3018
1,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,1051767,1182519,12426,11.712875,19701,1960
2,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Honda,521875,911784,39700,8.386252,13902,1081
3,85,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,539335,568129,48569,8.737450,6130,3018
4,85,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,1051767,1182519,12426,11.712875,19701,1960
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,17,WR-V,Honda,Compact SUV,5,1199,3999,1734,1601,2555,...,195/60 R16,2,4,Kia,1427004,449459,42010,8.952174,2130,4402
185,18,WR-V,Honda,Compact SUV,5,1498,3999,1734,1601,2555,...,195/60 R16,2,4,Kia,1427004,449459,42010,8.952174,2130,4402
186,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Renault,1300729,1082663,35105,9.088917,8209,2333
187,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Tata,1685544,862694,30496,8.328231,10690,2734
188,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Kia,929805,590183,43619,9.300472,7218,3514

In [9]:
data_merged.fillna(value=0, inplace=True)

In [31]:
GST = 0.20

for index, row in data_merged.iterrows():
    gst_amount = row["On road pricing"] * GST
    data_merged.loc[index, "On road pricing"] += gst_amount

In [32]:
data_merged.head(10)

,Unnamed: 0,Model Name,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Tyre Size,Variants,NCAP Rating,Company Name,On road pricing,Loan amount,Monthly EMI,Interest Rate,Monthly Principal,Monthly Interest
0,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,893138.760,568129,48569,8.737450,6130,3018
1,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,1741726.152,1182519,12426,11.712875,19701,1960
2,87,Grand i10 Nios,Hyundai,Hatchback,5,998,3805,1680,1520,2450,...,175/60 R15,3,2,Honda,864225.000,911784,39700,8.386252,13902,1081
3,85,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,893138.760,568129,48569,8.737450,6130,3018
4,85,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,3,2,Renault,1741726.152,1182519,12426,11.712875,19701,1960
5,85,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,3,2,Honda,864225.000,911784,39700,8.386252,13902,1081
6,86,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,1,2,Renault,893138.760,568129,48569,8.737450,6130,3018
7,86,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,1,2,Renault,1741726.152,1182519,12426,11.712875,19701,1960
8,86,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,1,2,Honda,864225.000,911784,39700,8.386252,13902,1081
9,84,Grand i10 Nios,Hyundai,Hatchback,5,1197,3805,1680,1520,2450,...,175/60 R15,4,2,Renault,893138.760,568129,48569,8.737450,6130,3018

In [33]:
data_merged.tail(10)

,Unnamed: 0,Model Name,Maker,Type,Seats,Displacement,Length,Width,Height,Wheelbase,...,Tyre Size,Variants,NCAP Rating,Company Name,On road pricing,Loan amount,Monthly EMI,Interest Rate,Monthly Principal,Monthly Interest
179,104,Tucson,Hyundai,SUV,5,1999,4630,1865,1665,2755,...,235/60 R18,2,3,Toyota,1194534.072,638141,27893,8.846136,16207,4607
180,104,Tucson,Hyundai,SUV,5,1999,4630,1865,1665,2755,...,235/60 R18,2,3,Citroen,3045642.336,1214610,17393,11.059978,4995,4724
181,104,Tucson,Hyundai,SUV,5,1999,4630,1865,1665,2755,...,235/60 R18,2,3,Kia,2191042.008,433245,41741,11.939733,2659,3988
182,24,GT-R,Nissan,Sports Car,2,3799,4710,1895,1370,2780,...,285/35/20,1,Not Tested,Citroen,1294172.280,735945,31775,9.529760,11525,4203
183,2,Virtus,Volkswagen,Sedan,5,1498,4561,1752,1507,2651,...,205/55 R16,1,Not Tested,Nissan,2055988.584,456108,25492,9.611067,7091,3746
184,17,WR-V,Honda,Compact SUV,5,1199,3999,1734,1601,2555,...,195/60 R16,2,4,Kia,2363118.624,449459,42010,8.952174,2130,4402
185,18,WR-V,Honda,Compact SUV,5,1498,3999,1734,1601,2555,...,195/60 R16,2,4,Kia,2363118.624,449459,42010,8.952174,2130,4402
186,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Renault,2154007.224,1082663,35105,9.088917,8209,2333
187,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Tata,2791260.864,862694,30496,8.328231,10690,2734
188,39,C5 Aircross,Citroen,SUV,5,1997,4500,2099,1710,2730,...,235/55 R18,2,4,Kia,1539757.080,590183,43619,9.300472,7218,3514